.name-header {
  display: flex;
  justify-content: center;

  .label {
    font-size: 32px;
    font-weight: 700;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 38px);

  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  .embed-text {
    position: absolute;
    top: 17%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
  }
}

.info-container {
  background-color: var(--main-color);
  height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 20px;
  overflow: hidden;

  .circle {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
  }

  .content {
    background-color: white;
    width: 90%;
    height: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }

  .content-date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .content-location {
    display: flex;
    flex-direction: column;
  }
}
